<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script>
function fn_mod() {
	location.href="mem_mod?m_id={{vo.m_id}}"
}
function fn_del_act() {
	document.frm.submit();
}
</script>
<body>
EMP_DETAIL
<form action="mem_del_act" name="frm" method="post">
	<input type="hidden" name="m_id" value="{{vo.m_id}}">
</form>
<table border='1'>
<tr>
	<td>아이디</td>
	<td>{{vo.m_id}}</td>
</tr>
<tr>
	<td>이름</td>
	<td>{{vo.m_name}}</td>
</tr>
<tr>
	<td>전화번호</td>
	<td>{{vo.tel}}</td>
</tr>
<tr>
	<td>주소</td>
	<td>{{vo.address}}</td>
</tr>
<tr>
	<td colspan="2">
		<input type="button" value="수정" onclick="fn_mod()">
		<input type="button" value="삭제" onclick="fn_del_act()">
	</td>
	</tr>
</table>
</body>
</html>