<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script type="text/javascript">
class Block {
	constructor() {
		this.type = 2;
		this.status = 0;
		this.i = 2;
		this.j = 4;
	}
}
var flagOver = false;
var b = new Block();

var block2D = [
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0]
];

var stack2D = [
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0]
];

var displ2D = [
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0],
	[0,0,0,0,0, 0,0,0,0,0]
];

function setBlock2D() {
	for(var i=0; i<25;i++) {
		for(var j=0;j<10;j++) {
			block2D[i][j] = 0;
		}
	}
	
	if(b.type==1) {
		block2D[b.i]	[b.j] 	 = b.type;
		block2D[b.i]	[b.j +1] = b.type;
		block2D[b.i+1]	[b.j] 	 = b.type;
		block2D[b.i+1]	[b.j+1]  = b.type;
	}
	
	if(b.type == 2) {
		if(b.status == 0) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
			block2D[b.i-2]	[b.j] = b.type;
			block2D[b.i+1]	[b.j] = b.type;
		} else if(b.status == 1) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i]	[b.j-1] = b.type;
			block2D[b.i]	[b.j-2] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
		}
	}
	
	if(b.type == 3) {
		if(b.status==0) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
			block2D[b.i-1]	[b.j+1] = b.type;
			block2D[b.i+1]	[b.j] = b.type;
		} else if(b.status==1){
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
			block2D[b.i-1]	[b.j-1] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
		}
	}
	
	if(b.type == 4) {
		if(b.status==0) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
			block2D[b.i+1]	[b.j+1] = b.type;
		} else if(b.status==1){
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i]	[b.j-1] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
			block2D[b.i-1]	[b.j+1] = b.type;
		}
	}
	
	if(b.type == 5) {
		if(b.status==0) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i]	[b.j-1] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
			block2D[b.i-1]	[b.j+1] = b.type;
		} else if(b.status==1){
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
			block2D[b.i-1]	[b.j-1] = b.type;
			block2D[b.i+1]	[b.j] = b.type;
		} else if(b.status==2) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i]	[b.j-1] = b.type;
			block2D[b.i+1]	[b.j-1] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
		} else if(b.status==3) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i+1]	[b.j] = b.type;
			block2D[b.i+1]	[b.j+1] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
		}
	}
	
	if(b.type == 6) {
		if(b.status==0) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i]	[b.j-1] = b.type;
			block2D[b.i-1]	[b.j-1] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
		} else if(b.status==1){
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
			block2D[b.i+1]	[b.j] = b.type;
			block2D[b.i+1]	[b.j-1] = b.type;
		} else if(b.status==2) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i]	[b.j-1] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
			block2D[b.i+1]	[b.j+1] = b.type;
		} else if(b.status==3) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
			block2D[b.i+1]	[b.j] = b.type;
			block2D[b.i-1]	[b.j+1] = b.type;
		}
	}
	
	if(b.type == 7) {
		if(b.status==0) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
			block2D[b.i]	[b.j-1] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
		} else if(b.status==1){
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
			block2D[b.i+1]	[b.j] = b.type;
			block2D[b.i]	[b.j-1] = b.type;
		} else if(b.status==2) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i+1]	[b.j] = b.type;
			block2D[b.i]	[b.j-1] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
		} else if(b.status==3) {
			block2D[b.i]	[b.j] = b.type;
			block2D[b.i-1]	[b.j] = b.type;
			block2D[b.i+1]	[b.j] = b.type;
			block2D[b.i]	[b.j+1] = b.type;
		}
	}
	
}

function my_render() {
	var tiles = document.querySelectorAll('.tile');
	for(var i=0; i<25;i++) {
		for(var j=0;j<10;j++) {
			if(displ2D[i][j] == 0) {
				tiles[i*10+j].bgColor = "white";
			}
			if(displ2D[i][j] == 1) {
				tiles[i*10+j].bgColor = "#FF0000";
			}
			if(displ2D[i][j] == 2) {
				tiles[i*10+j].bgColor = "#00FF00";
			}
			if(displ2D[i][j] == 3) {
				tiles[i*10+j].bgColor = "#00FFFF";
			}
			if(displ2D[i][j] == 4) {
				tiles[i*10+j].bgColor = "#0040FF";
			}
			if(displ2D[i][j] == 5) {
				tiles[i*10+j].bgColor = "#FF8000";
			}
			if(displ2D[i][j] == 6) {
				tiles[i*10+j].bgColor = "#FFFF00";
			}
			if(displ2D[i][j] == 7) {
				tiles[i*10+j].bgColor = "#FE2EC8";
			}
			if(displ2D[i][j] == 11) {
				tiles[i*10+j].bgColor = "#F5A9A9";
			}
			if(displ2D[i][j] == 12) {
				tiles[i*10+j].bgColor = "#A9F5A9";
			}
			if(displ2D[i][j] == 13) {
				tiles[i*10+j].bgColor = "#CEF6F5";
			}
			if(displ2D[i][j] == 14) {
				tiles[i*10+j].bgColor = "#A9BCF5";
			}
			if(displ2D[i][j] == 15) {
				tiles[i*10+j].bgColor = "#F5D0A9";
			}
			if(displ2D[i][j] == 16) {
				tiles[i*10+j].bgColor = "#F5F6CE";
			}
			if(displ2D[i][j] == 17) {
				tiles[i*10+j].bgColor = "#F5A9F2";
			}
		}
	}
}

function rotate() {
	if(b.type == 1) {
		
	} else if(b.type==2||b.type==3||b.type==4) {
		if(b.status == 0) {
			b.status = 1;
		} else if(b.status == 1){
			b.status = 0;
		}
	} else if(b.type==5||b.type==6||b.type==7) {
		if(b.status == 0) {
			b.status = 1;
		} else if(b.status == 1){
			b.status = 2;
		} else if(b.status == 2){
			b.status = 3;
		} else if(b.status == 3){
			b.status = 0;
		}
	}
}

function setDispl2D() {
	for(var i=0; i<25; i++) {
		for(var j=0; j<10; j++) {
			displ2D[i][j] = 0;
		}
	}
	for(var i=0; i<25; i++) {
		for(var j=0; j<10; j++) {
			if(block2D[i][j]>0) {
				displ2D[i][j] = block2D[i][j];
			} 
		}
	}
	for(var i=0; i<25; i++) {
		for(var j=0; j<10; j++) {
			if(stack2D[i][j]>0) {
				displ2D[i][j] = stack2D[i][j];
			}
		}
	}
}

function isBlockStack() {
	for(var i=0; i<25; i++) {
		for(var j=0; j<10; j++) {
			if(block2D[i][j]>0 && stack2D[i][j]>0) {
				return true;
			}
		}
	}
	return false;
}

function isBlockSide() {
	var count = 0;
	for(var i=0; i<25; i++) {
		for(var j=0; j<10; j++) {
			if(block2D[i][j]>0) {
				count++;
			}
		}
	}
	if(count==4) {
		return false;
	}
	return true;
}

function moveBlock2DToStack2D() {
	for(var i=0; i<25; i++) {
		for(var j=0;j<10; j++) {
			if(block2D[i][j]>0) {
				stack2D[i][j] = 10 + block2D[i][j];
			}
		}
	}
}

function getMax10() {
	var cnt = 0;
	for(var i=0; i<block2D.length;i++) {
		var l = stack2D[i];
		if(
			l[0]>0 && l[1]>0 && l[2]>0 && l[3]>0 && l[4]>0 && 
			l[5]>0 && l[6]>0 && l[7]>0 && l[8]>0 && l[9]>0
		) {
			cnt++;
		}
	}
	return cnt;
}

function cleanStack(cnt_max) {
	var s = [];
	for(var i=0;i<cnt_max;i++) {
		s.push([0,0,0,0,0, 0,0,0,0,0]+"");
	}
	for(var i=0; i<stack2D.length;i++) {
		var l = stack2D[i];
		if(
			!(l[0]>0 && l[1]>0 && l[2]>0 && l[3]>0 && l[4]>0 && 
			l[5]>0 && l[6]>0 && l[7]>0 && l[8]>0 && l[9]>0)
		) {
			s.push(l+"")
		}
	}
	
	for(var i=0; i<25; i++) {
		var arr_s = s[i].split(",");
		stack2D[i][0] = arr_s[0];
		stack2D[i][1] = arr_s[1];
		stack2D[i][2] = arr_s[2];
		stack2D[i][3] = arr_s[3];
		stack2D[i][4] = arr_s[4];
		
		stack2D[i][5] = arr_s[5];
		stack2D[i][6] = arr_s[6];
		stack2D[i][7] = arr_s[7];
		stack2D[i][8] = arr_s[8];
		stack2D[i][9] = arr_s[9];
	}
}

function myclick(e) {
	if(flagOver) {
		return false;
	}
	var back_status = b.status;
	var back_i = b.i;
	var back_j = b.j;
	
	var flagDown = false;
	var code = e.code;
// 	if(code == "ArrowUp") {
// 		b.i--;
// 	}
	if(code == "ArrowDown") {
		flagDown = true;
		b.i++;
	}
	if(code == "ArrowLeft") {
		b.j--;
	}
	if(code == "ArrowRight") {
		b.j++;
	}
	if(code == "Space") {
		rotate();
	}
	var flagBlockErr = false;
	try {
		setBlock2D();
	} catch {
		flagBlockErr = true;
	}
	setDispl2D();
	
	var flagBlockStack = isBlockStack();
	var flagBlockSide = isBlockSide();
	var flagCrush = flagBlockErr||flagBlockStack||flagBlockSide;
	if(flagCrush) {
		b.status = back_status;
		b.i = back_i;
		b.j = back_j;
		setBlock2D();
		setDispl2D();
	}
	if(flagCrush && flagDown) {
		
		moveBlock2DToStack2D();
		
		var cnt_max = getMax10();
		cleanStack(cnt_max);
		var remain = document.querySelector('#my_remained');
		var result = parseInt(remain.innerHTML) - cnt_max;
		remain.innerHTML = result;
		if(result <= 0) {
			setTimeout(function () {
				alert("Mission Clear");
			}, 100);
			flagOver = true;
		}
		for(var i=0; i<10; i++) {
			if(stack2D[3][i]>0) {
				alert("Game Over");
				flagOver = true;
				return false;
			}
		}
		
		b.type = parseInt(Math.random()*7)+1;
		b.i = 2;
		b.j = 4;
		setBlock2D();
		setDispl2D();
	}
	console.log(displ2D);
	my_render();
}
window.addEventListener("keydown", (e) =>
	myclick(e)
);
window.onload = function() {
	setInterval(function() {
		myclick({'code' : 'ArrowDown'})
	},500);
}
</script>
<style>
.tile {
	width : 20px;
	height : 20px; 
}
</style>
<body>
TETRIS 남은블럭: <span id="my_remained">20</span>
<table border="1">
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
	<tr>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
		<td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td><td class="tile"></td>
	</tr>
</table>
</body>
</html>